.idea
out
*.patch
/libs/crash-reports/
/libs/logs/
/libs/world/
/libs/world_the_end/
/libs/world_nether/
/libs/worldddd/
/libs/banned-ips.json
/libs/banned-players.json
/libs/bukkit.yml
/libs/commands.yml
/libs/eula.txt
/libs/help.yml
/libs/ops.json
/libs/nametagAPI.jar
/libs/permissions.yml
/libs/sb.txt
/libs/server.properties
/libs/spigot.yml
/libs/usercache.json
/libs/Vault.jar
/libs/whitelist.json
/libs/plugins/megawalls.jar
